/* Use !important to ensure the background color is applied */
* {
  margin: 0;
  padding: 0;
  background-color: var(--green_200) !important;
  min-height: 100vh;
}

:root {
  --green_200: hsl(148, 38%, 91%);
  --green_600: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);
  --white: hsl(0, 0%, 100%);
  --gray_500: hsl(186, 15%, 59%);
  --gray_900: hsl(187, 24%, 22%);
  --size_font: 16px;
  --font_family: Karla;
  --width: 400px;
  --height: 700px;
}
